
 button{
    background: transparent;
    border: none;
    background-color: #d74221;
    color: white;
    padding: 5px 18px;
    border-radius: 4px;
    cursor: pointer;
 }
 
 select{
    background: none;
    border: none;
    border: 1px solid gray;
    width: 149px;
    border-radius: 4px;
    height: 24px;
 }
 .deductionError{
    display: inline-flex;
    align-items: center;
    color: rgb(248, 55, 55);
    background: rgb(255, 183, 183);
    padding: 4px 10px;
    border-radius: 8px;
    gap: 4px;
    margin-inline-start: 80px;
}
