.allProducts{
    padding: 20px 0px;
    margin-inline: 20px;
    font-weight: 600;
}
.allProductsHeading{
    margin: 0 20px;
    font-size: large;
    color: #d74221;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.allProductsHeading .btns button{
    margin-left: 10px;
}
.productsWrapper{
    padding: 10px;
}
.product button{
    width: max-content;
}
.searchBarStaff input{
    border: none;
}
.recordsTableContainer{
    scrollbar-color: lightgray transparent;
    scrollbar-width: thin;
}
.qtyControl{
    display: flex;
    align-items: center;
    justify-content: space-around;
}    
.qtyButtons{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.qtyButtons small{
    background-color: #d74221;
    color: white;
    padding: 0px 4px;
    border-radius: 3px;
}
