.allProducts{
  padding: 20px 0px;
  margin-inline: 20px;
  font-weight: 600;
}
.allProductsHeading{
  padding: 10px;
  margin: 0 20px;
  font-size: large;
  color: #d74221;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recordsTableContainer{
  scrollbar-color: lightgray transparent;
  scrollbar-width: thin;
}
/* Table css */
.tableContainer{
    overflow-y: auto;
    height: 200px;
    border: 1px solid gray; 
    border-radius: 4px;
}
.saleDetails span{
  display: block;
  margin-block-end: 10px;
}

  table {
    border-collapse: collapse;
    width: 100%;
  }
  thead{
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(80, 80, 80, 0.75);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(80, 80, 80, 0.75);
  -moz-box-shadow: 0px 1px 3px 0px rgba(80, 80, 80, 0.75);
  }
  tbody tr{
    border-bottom: 1px solid gray;
  }
  tbody tr:last-child{
    border-bottom: none;
  }
  th {
    padding: 9px 4px;
    text-align: center;
  }
  td{
    padding: 9px 4px;
    text-align: center;
  }
  .invoiceDetails{
    display: flex;
    justify-content: space-between;
  }
  .invoiceTable{
    height: calc(100vh - 30vh) !important;
  }
  button.print{
    width: max-content;
    margin-bottom: 10px;
  }
  .invoiceButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .invoiceToPrint{
    padding: 0;
  }
  .emailBtn{
    pointer-events: none;
    background-color: #ffb6a5;
  }
  