.productList{
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    padding: 20px 10px;
    margin-inline: 20px;
    font-weight: 600;
}
.productListHeading{
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    padding: 10px;
    margin: 0 20px;
    font-size: large;
    color: #d74221;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.productListHeading .btns{
    display: flex;
    gap: 8px;
}
.product{
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 12px;
    background-color: white;
}
.productsWrapper{
    display: flex;
    flex-direction: column;
}
.product p{
    margin: 0;
    font-size: large;
    color: #404145;
}
.product span{
    color: #95979d;
}
.productsWrapper button{
    width: max-content;
}
/* Table css */
.tableContainer{
    overflow-y: auto;
    height: 200px;
    border: 1px solid gray; 
    border-radius: 4px;
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  thead{
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0px 1px 3px 0px rgba(80, 80, 80, 0.75);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(80, 80, 80, 0.75);
  -moz-box-shadow: 0px 1px 3px 0px rgba(80, 80, 80, 0.75);
  }
  tbody tr{
    border-bottom: 1px solid gray;
  }
  tbody tr:last-child{
    border-bottom: none;
  }
  th {
    padding: 9px 4px;
    text-align: center;
  }
  td{
    padding: 9px 4px;
    text-align: center;
  }
  