.productWrapper{
    padding: 0 10px;
    margin-inline: 20px;
}
.productHeading h3{
    margin: 0;
}
.productHeading{
    padding: 10px;
    margin: 0 20px;
    font-size: large;
    color: #d74221;
}
.productForm .formInput label,
.productForm .formInput input{
    display: block;
    width: 100%;
}
.productForm .formInput input{
    padding: 5px 0px 5px 4px;
    border: 1px solid lightgrey;
}

.productForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-block-end: 20px;

}
.productWrapper button > .progress{
    color: white !important;
    margin-right: 8px;
}