.productList{
    padding: 20px 10px;
    margin-inline: 20px;
    font-weight: 600;
}
.allProductsHeading{
    /* margin: 0 10px; */
    font-size: large;
    color: #d74221;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.myLinks{
    display: flex;
    align-items: center;
    gap: 10px;
}
.product button{
    width: max-content;
}
.searchBarStaff input{
    border: none;
    outline: none;
}
.recordsTableContainer{
    scrollbar-color: lightgray transparent;
    scrollbar-width: thin;
}
.messageAndSearchBar{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline-end: 10px;
}
.messageAndSearchBar p{
    margin: 0;
}
.staffTBody td button > .progress{
    color: white !important;
    margin-right: 8px;
}
