.allowancesWrapper{
    margin-inline: 20px;
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
}
.allowancesFormTitle{
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    padding: 10px;
    margin: 0 20px;
    font-size: large;
    color: #d74221;
}
.allowancesWrapper h2{
    text-align: center;
    text-decoration: underline;
}
.allowancesForm{
    padding: 40px 80px 20px 80px;
}
.allowancesForm label{
    width: 130px;
    display: inline-block;
}
.allowancesForm >div{
    margin-bottom: 20px;
}
