.newQuotationHeading{
    margin: 0;
    margin:20px 0 20px 20px;
    color: #d74221;
}
.linkSpan{
    color: blue;
    cursor: pointer;
}
.linkSpan:hover{
    text-decoration: underline;
}
/* css for customerTable modal */
.tableModalHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tableModalHeader > p{
    font-size: 18px;
}
.tableModalHeader > p,
.tableModalHeader > div
{
    margin: 0;
}
.tableModal{
    border-radius: 5px;
    padding: 2rem;
    background-color: white;
    width: 50%; 
    position: relative;
}
.customerTableWrapper{
    overflow-y: auto;
    max-height: 70%;
    padding-inline: 20px;
    border-radius: 20px;
}
.customerDetailsWrapper{
    padding-inline: 20px;
    border: 1px solid lightgrey;
    border-radius: 8px;
    margin-bottom: 8px;
    padding-block: 20px;
}
.customerDetailsWrapper > p{
    margin: 0;
}
.customerDetailsWrapper .customerDetails{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.customerDetails div span{
    display: block;
}
.customerDetails div>:last-child{
    border: 1px solid lightgrey;
    border-radius: 4px;
    padding: 5px 4px 6px 4px;
    font-size: 14px;
}
.quotationDetails{
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding-block: 20px;
    margin-bottom: 8px;
}