.expense{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.expenseContainer{
    width: max-content;
    outline: 1px solid lightgrey;
    border-radius: 10px;
    padding: 40px 60px;
}
.expenseTitle h3{
    font-size: 24px;
    color: #d74221;
    margin: 0;
    margin-bottom: 30px;   
}
.expenseForm form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.expenseForm form .formInput{
    align-items: center;
}
.expenseForm form .formInput input{
    font-size: 14px;
    width: 200px;
    height: 22px;
    padding: 0;
}
.expenseForm form .formInput label{
    width: 160px;
}
.expenseForm form .formInput .outputField{
    width: 200px;
    height: 22px;
    margin: 0;
}
.expenseForm form button{
    width: max-content;
}
.expenseForm form button > .progress{
    color: white !important;
    margin-right: 8px;
}