.expenseContainer .expenseTitle{
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    padding: 10px;
    margin: 0 20px;
    font-size: large;
    color: #d74221;
}
.expenseForm{
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    padding: 20px 10px;
    margin-inline: 20px;
    font-weight: 600;
}
.expenseForm form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.expenseForm form .formInput input{
    font-size: 14px;
}
.expenseForm form .formInput label{
    width: 160px;
}
.expenseForm form .formInput .outputField{
    width: 184px;
    height: 22px;
    margin: 0;
}
.expenseForm form button{
    width: max-content;
}