.skeleton{
    background-color: #444444;
    margin-block-start: 8px;
    overflow: hidden;
    width: 100%;
}
.skeleton.recentSales{
    border-radius: 10px;
    padding-block: 10px;
}
.skeleton .text{
    width: 90%;
    margin-inline: auto;
    height: 12px;
    background-color: #585858;
    border-radius: 4px;
}
.recentSaleSkeleton{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}
.skeletonWrapper{
    position: relative;
    width: 100%;
    border: 1px solid red;
}
.shimmerWrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: loadingWave 2.5s infinite;
    overflow: hidden;
}
.shimmer{
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    transform: skewX(-10deg);
}
@keyframes loadingWave{
    0%{transform: translateX(-150%)}
    50%{transform: translateX(0%)}
    0%{transform: translateX(150%)}
}