.itemForm{
    margin-inline: 20px;  
}
.itemSaleTitle{
    padding: 10px;
    margin: 0 20px;
    font-size: large;
    color: #d74221;
}
.item{
    border-radius: 4px;
    padding: 8px;
    margin-block-end: 20px;
}
.itemDetails{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.itemDetails > div{
    margin-block: 10px;
}
label{
    display: inline-block;
    width: 120px;
}
.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-block: 20px 0 !important;
}
.buttons button{
    font-size: 16px;
}
.itemsTable{
    border-radius: 4px;
}
.cartHeading{
    font-weight: bold;
    font-size: large;
}
.itemDetails > div label.outputField{
    margin: 0;
}
.actionButtons{
    display: flex;
    gap: 8px;
    cursor: pointer;
}
.errorMessage{
    display: inline-flex;
    align-items: center;
    color: red;
    background: rgb(255, 187, 187);
    padding: 4px 10px;
    border-radius: 8px;
    gap: 4px;
}
input{
    border: none;
    border: 1px solid gray;
    border-radius: 4px;
}