.home{
    height: 100%;
}
.widgets{
    display: flex;
    gap: 20px;
}
.bottomContainer{
    display: grid;
    gap: 20px;
    margin-block-start: 10px;
    grid-template-columns: 3fr 1fr;
}
.recentSalesContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.middleContainer{
    margin-block: 20px;
}
.middleContainer h3{
    margin: 0;
    margin-bottom: 10px;
    font-weight: 600;
}
.rightContainer h3{
    margin: 0;
    font-weight: 600;
}
.bottomContainer{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
.bottomContainer>.left{
    grid-column: 1/3;
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    -moz-box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    /* padding: 2px; */
    border-radius: 10px;
    overflow: hidden;
}
.bottomContainer>.right{
    grid-column: 3/4;
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    -moz-box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    padding: 10px;
    border-radius: 10px;
    height: max-content;
}
.right > h3{
    margin-block: 10px;
}