.staffRecords{
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    padding: 10px;
}
.staffRecordsHeading{
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    padding-inline: 10px;
    font-size: large;
    color: #d74221;
}
.searchBar{
    display: inline-flex;
    align-items: center;
    border: 1px solid gray;
    margin-bottom: 8px;
    border-radius: 8px;
    /* min-width: 200px; */
    width: 300px;
    padding: 8px 10px;
}
.staffRecords input{
    border: none;
}
.staffRecords input:focus{
    outline: none;
}