.staffRecords{
    padding: 10px 0;
}
.staffRecordsHeading{
    padding: 10px;
    font-size: large;
    color: #d74221;
}
.searchBarStaff{
    display: inline-flex;
    align-items: center;
    border: 1px solid lightgray;
    margin-block: 20px;
    border-radius: 12px;
    width: 200px;
    padding: 4px 10px;
}
.staffRecords input{
    border: none;
}
.staffRecords input:focus{
    outline: none;
}
.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(50%);
}