.servicesSummary{
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    padding: 10px;
}
.servicesSummaryHeading{
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.75);
    padding-inline: 10px;
}
.searchBar{
    display: inline-flex;
    align-items: center;
    border: 1px solid gray;
    margin-bottom: 8px;
    border-radius: 8px;
    /* min-width: 200px; */
    width: 300px;
    padding: 8px 10px;
}
.servicesSummary input{
border: none;
}
.servicesSummary input:focus{
    outline: none;
}